<div class="container">
<div class="row">
<div class="col-sm-6">
	<div class="jumbotron">
  		<h1 class="nav justify-content-center">Sign Up</h1>
  		<hr>
  		<form class="form-inline align-items-center">
  			<div class="form-group mx-sm-3 mb-2 align-items-center">
    			
    			<input type="password" class="form-control" id="password" placeholder="Email">
  			</div>
  			<button type="submit" class="btn btn-primary mb-2">SIGN UP</button>
		</form>
	</div>
</div>

<div class="col-sm-3">
	<ul>
		<li>sfgshjdvxb</li>
		<li>sfgshjdvxb</li>
		<li>sfgshjdvxb</li>
		<li>sfgshjdvxb</li>
	</ul>
</div>

<div class="col-sm-3">
	<ul>
		<li>sfgshjdvxb</li>
		<li>sfgshjdvxb</li>
		<li>sfgshjdvxb</li>
		<li>sfgshjdvxb</li>
	</ul>
</div>

</div>
</div>
</div>

</body>
</html>