<%- include ('partials/header') %>

<div class="jumbotron jumbotron-fluid text-center" style="background-image:url('https://images.unsplash.com/photo-1493655161922-ef98929de9d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); background-repeat: no-repeat; background-color:white;  background-position: center center; height:300px;">
  <div class="container">
    <a style="margin-top:150px;" class="btn btn-primary" href="/products/Women">Women Collection</a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center" style="background-image:url('https://images.unsplash.com/photo-1574177556859-1362f72ed6f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); background-repeat: no-repeat;background-color:white;  height:300px; background-position: center center; ">
  <div class="container">
    <a style="margin-top:150px;" class="btn btn-primary" href="/products/Men">Men Collection</a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center" style="background-image:url('https://images.unsplash.com/photo-1541580621-cb65cc53084b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); background-repeat: no-repeat;background-color:white;  background-position: center center; height:300px; width:100%; margin:0;">
  <div class="container">
  	<a style="margin-top:150px;" class="btn btn-primary" href="/register">Kid's Collection</a>
  </div>
</div>

<div class="container">
<div class="card-deck ">
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
 </div> 
</div>

<%- include ('partials/footer') %>